 img {
   display: block;
   margin: auto;
   margin-top: 200px;
   transition: transform 2s;
 }

 img:hover {

   transform: rotate(-360deg);
   /* transform: rotate(1turn); */
   /* transform: rotate(200grad); */


}